@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Staatliches&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(51, 51, 51) !important;
}
footer .container {
  height: 100px;
}
#featured-artist {
  border: solid rgb(38, 148, 5) 5px;
}
.card-img-top {
  height: 150px;
  object-fit: cover;
}
.card-01 .badge-box {
  position: absolute;
  top: -20px;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  text-align: center;
  border-radius: 5%;
  border: 5px solid black;
}
.card-01 .badge-box i {
  background: #006eff;
  color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  border-radius: 5%;
  border: 5px solid black;
}

.avatar {
  display: block;
  height: 95px;
  width: 95px;
  margin: auto;
  position: absolute;
  top: -55px;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 15%;
  border: 5px solid #68a22b;
  box-shadow: inset 10px 10px 50px 50px rgb(0, 0, 0, 1);
  overflow: hidden;
}

.avatar h3 {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}
.avatar h3:hover {
  visibility: visible;
}

.avatar img {
  height: 100%;
}
.avatar img:hover {
  opacity: 0.2;
}

.card {
  border-radius: 3% !important;
  filter: drop-shadow(10px 15px 15px rgb(0, 0, 0));
  transition: 0.5s;
  border: 5px solid #68a22b !important;
  opacity: 0.9;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 0px 20px 5px rgb(0, 0, 0, 0.5);
}

.card:hover {
  transition: 0.5s;
  transform: scale(1.2);
  z-index: 99;
  opacity: 1;
}

.card a {
  width: 100%;
}

.badge {
  position: absolute;
  top: -5%;
  right: 0;
  width: 50%;
  filter: drop-shadow(2px 2px 5px rgb(0, 0, 0));
  background-color: #68a22b;
  border-radius: 15%;
  color: #fff;
  vertical-align: middle;
}

.jumbotron {
  background-color: rgb(15, 133, 31) !important;
  border-radius: 0px !important;
  filter: drop-shadow(3px 3px 5px rgb(0, 0, 0));
  padding-bottom: 10px !important;
}

.jumbotron span {
  margin: 0 auto;
  font-family: Oswald;
  color: rgb(0, 0, 0);
  font-size: 4.2rem !important;
  line-height: 1;
  text-align: center;
}
.text-wrap {
  text-align: center;
}
.jumbotron span:nth-child(2) {
  font-family: Oswald;
  color: rgb(29, 170, 53);
}

.jumbotron p {
  text-align: center;
}

.jumbotron img {
  float: right !important;
  height: 35vh;
  margin: 10px;
  filter: drop-shadow(5px 5px 10px rgb(0, 0, 0)) !important;
  visibility: hidden;
}

.navbar {
  background-color: rgb(10, 10, 10);
  color: #fff !important;
}

.heading {
  font-size: 5rem;
  font-weight: 700;
  font-family: Oswald;
}

.heading span:nth-child(2) {
  color: #68a22b;
}

@media screen and (min-width: 360px) {
  .jumbotron span {
    font-family: Oswald;
    color: rgb(0, 0, 0);
    font-size: 4rem !important;
    line-height: 1;
  }
  .jumbotron span:nth-child(2) {
    font-family: Oswald;
    color: rgb(29, 170, 53);
  }

  .jumbotron img {
    height: 35vh;
    top: 0px;
    right: 10px;
    position: absolute;
    filter: drop-shadow(5px 5px 10px rgb(0, 0, 0));
  }
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (min-width: 600px) {
  body {
    background-color: olive;
  }

  .jumbotron {
    background-color: #fff !important;
    border-radius: 0px !important;
    filter: drop-shadow(3px 3px 5px rgb(0, 0, 0));
  }

  .jumbotron span {
    font-family: Oswald;
    color: rgb(0, 0, 0);
    font-size: 5rem !important;
  }

  .jumbotron img {
    height: 30vh;
    top: 25px;
    right: 25px;
    position: absolute;
    filter: drop-shadow(5px 5px 10px rgb(0, 0, 0));
  }
}

@media screen and (min-width: 980px) {
  body {
    background-color: blue;
  }

  .jumbotron {
    background-color: #fff !important;
    border-radius: 0px !important;
    filter: drop-shadow(3px 3px 5px rgb(0, 0, 0));
    text-align: left !important;
  }

  .text-wrap {
    text-align: left;
  }
  .jumbotron p {
    text-align: left;
    font-size: 1.3rem;
    margin-bottom: 50px !important;
  }

  .jumbotron img {
    height: 80vh;
    top: 5px;
    position: absolute;
    filter: drop-shadow(5px 5px 10px rgb(0, 0, 0));
    visibility: visible;
    z-index: -1;
  }

  #featured-artist {
    padding: 20px;
    filter: drop-shadow(5px 5px 10px rgb(0, 0, 0));
    background: #fff;
    border-radius: 5px;
  }

  .text-heading h2 {
    text-transform: uppercase;
    font-family: Oswald;
    font-size: 3rem !important;
    text-align: right !important;
  }

  #bill {
    height: 450px;
    float: left;
    shape-outside: url(./img/bill.png);
    shape-margin: 1em;
  }

  #featured-artist p {
    background-color: #fff;
    text-align: justify;
  }
  .text-heading {
    width: fit-content;
    margin: 0 auto;
  }
  .text-heading hr {
    margin: 0 auto;
    height: 3.5px;
    background-color: rgb(34, 160, 61);
    margin-bottom: 10px;
  }

  #featured-artist i {
    top: 50px !important;
    font-size: 5rem;
    shape-outside: circle();
    width: 100px;
  }

  #quote-left {
    float: left;
    margin-left: -70px;
    height: 5rem;
    shape-outside: url(./img/quote-left.svg);
    shape-margin: 10px;
    padding: 10px;
  }
  .card-body p {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0;
  }
  .card-body hr {
    line-height: 0;
    margin: 0;
  }
  .card .col-6:nth-child(1) {
    font-weight: 700;
  }
  .card {
    padding: -5px;
  }
}

/* On screens that are 600px or less, set the background color to olive */
