/*----------------------------------------------------------------------------- 
Author:     Hedri Nel
Email:      mailhedri@gmail.com 
Github:     https://github.com/FlyingVespa
----------------------------------------------------------------------------- */

/* ----------------- Table of Contents
0. Defaults & Imports
1.
2.
3.
4.
5.
6.
     -----------------*/
/* ----------------- 0 ---------------- */
/* Font Imports */

/* Remove padding and margin */
* {
  scroll-behavior: smooth;
}
body {
  background-color: burlywood !important;
}

.clear {
  clear: both;
}

.right {
  float: right;
}

.left {
  float: left;
}
hr {
  margin-top: 0;
  margin-bottom: 0;
}
#review-image {
  width: 20vh;
}
#review-image:hover {
  opacity: 0.2;
}

#artist-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ----------------- 1 ---------------- */

h1,
h2,
h3 {
  text-transform: uppercase;
  text-align: center;
}
h4 {
  text-align: center;

  text-transform: uppercase;
}
h5 {
  text-align: center;
}
span {
  margin: 5px;
  font-size: 20px;
}

#artist-name {
  font-weight: 800;
  font-size: 2rem;
}
#album-name {
  font-weight: 500;
  font-style: italic;
  text-transform: capitalize;
}

/* ----------------- 2 images---------------- */

.album-reviews {
  flex: 1;
  justify-content: space-around;
  margin: 10px;
  padding: 10px;
}

/* ----------------- 3 ---------------- */
li {
  list-style-type: none;
}
#metainfo {
  font-weight: 800;
}
#metainfo-var {
  text-align: right;
}
#mdata {
  display: flex;

  font-weight: 800;
}
.metadata p {
  font-style: italic;
}
#img-review {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
#album-container {
  margin: 0 auto;
  width: 100%;
}
#album-card {
  background-color: cadetblue;
}

/* ----------------- 4 ---------------- */
footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2e2e2e;
  color: white;
  text-align: center;
  height: 8vh;
}
/* ----------------- 5 ---------------- */

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

#quote-title {
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;
  font-weight: 800;
}
.card {
  margin: 10px;
  padding: 10px;
}

.container {
  display: flex;
  align-self: center;
  padding: 20px;
  border: red 5px solid;
}
#review-container {
  justify-content: center;
  justify-self: center;
  margin: 0 auto;
  width: 100%;
}

.review-card {
  display: flex;
  border: black 2px solid;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  align-items: stretch;
}

.hvrbox,
.hvrbox * {
  padding: 5px;
  box-sizing: border-box;
}
.hvrbox {
  padding: 5px;
  position: relative;
  overflow: hidden;
  max-width: 250px;
  height: auto;
}
.hvrbox img {
  max-width: 250px;
  border-radius: 10px;
}
.hvrbox .hvrbox-layer_bottom {
  flex: 1;
}

.hvrbox .hvrbox-layer_top {
  flex: 1;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  padding: 5px;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
  opacity: 1;
}
.hvrbox .hvrbox-text {
  flex: 1;
  margin: 15px;
  text-align: center;
  font-size: 1.2rem;
  position: absolute;
  line-height: 1;
}

hr {
  line-height: 0.5;
  padding: 5px !important;
  margin: 5px !important;
}
.ccc {
  flex: 2;
  margin: 10px;
  padding: 15px;
  border: grey 1px solid;
  border-radius: 5px;
}

#myBtn {
  position: fixed; /* Fixed/sticky position */
  bottom: 100px;
  right: 30px;
  width: 5rem;
  height: 4rem;
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

#yola {
  object-fit: cover;
  width: 100%;
  overflow: hidden;
}

.featured-artist .container {
  margin: 0 auto;
  flex: none;
}
.heading {
  display: inline-block;
  flex: none;
  margin: 0 auto;
}

.w-100 {
  width: 100% !important;
  height: 75vh;
}
