/*
 ex 7

     
      EX3) Write a selector to target the "continue reading..." inside the jumbotron
      EX4) Write a selector to target the first blogpost
      EX8) Write a selector to target the second post author
      EX10) Write a selector to target the footer
  */
/* DONE EX1) Write a selector to target the title of the page */
h1 {
  color: red;
}
/* DONE EX2) Write a selector to target every children of the navbar */
nav:first-child a {
  text-decoration: none;
  color: rgb(17, 235, 255) !important;
}
/* DONE EX3) Write a selector to target the "continue reading..." inside the jumbotron */

.jumbotron > div > p > a {
  color: green !important;
}

/* DONE EX4) Write a selector to target the first blogpost */

.blog-post:nth-of-type(1) {
  color: peru;
}

/* DONE EX5) Write a selector to target the "even" links in the navbar */
nav > a:nth-child(even) {
  background: rgb(160, 17, 17);
  color: #ffff;
}

/* DONE EX6) Write a selector to target the last blog post */

.blog-post:nth-last-of-type(1) {
  color: green;
}

/* DONE EX7) Write a selector to target all the li into the first ordered-list in the sidebar ( Archives ) */
.blog-sidebar div:nth-child(2) > ol > li {
  background: yellow;
}

/* DONE EX8) Write a selector to target the second post author */

.blog-post:nth-of-type(2) .blog-post-meta a:nth-child(1) {
  color: red;
}

/* DONE EX9) Write a selector to target the "back to top" link     #### EXTRA Try doing it without targeting the footer element directly */
.blog-footer p:nth-last-of-type(1) a {
  background-color: orangered;
  color: #ffff;
}

/* DONE EX10) Write a selector to target the footer */

footer {
  margin-top: 10px;
  background: rgb(250, 200, 248);
}
