li {
  border: grey 1px solid;
}
ul {
  list-style-type: none;
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.person-main-list {
  border: blue 2px solid;
  width: 500px;
  margin: 0 auto;
}
